<h1><%= @user.email %>様</h1>
<p>=====================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>本メールはhttps://www.nikukyu-shindan.com/より自動送信されています。</p>

<p>心当たりのない場合は破棄をよろしくお願いします。</p>

<p>© にくきゅう診断</p>