<div class="max-w-lg w-full my-10">
  <%= render 'form', user:@user %>
  <%
=begin%>
  期間限定カードの宣伝を追加する時に使用
  <p><%= t('defaults.to_be_added') %></p>
  <%= image_tag 'christmas_sample2.png' %>
<%
=end%>
</div>
