<header class="flex items-center justify-between flex-wrap px-2 py-2">
  <div class="flex items-center mx-2">
    <%= link_to root_path do %>
      <%= image_tag 'logo.PNG' %>
    <% end %>
  </div>
  <div class="flex items-center">
    <%= link_to logout_path, data: { "turbo-method": :delete } do %>
      <div class="group inline-block text-center mx-2 group-hover:text-sky-700">
        <i class="fa-solid fa-right-from-bracket fa-xl"></i>
        <p class="icon-text group-hover:text-sky-700"><%= t('defaults.logout') %></p>
      </div>
    <% end %>
  </div>
</header>
