<div class="max-w-lg pb-20">
    <h1 class="text-xl text-yellow-900 font-zenmaru my-2 text-center font-bold"><%= t('.title') %></h1>
    <%= turbo_frame_tag "image-list" do %>
      <div>
        <% @profile_cards.each do |profile_card| %>
          <div class='py-5'>
            <% card_type = { 'A'=> profile_card.profile_card_data_a.to_s, 'B'=> profile_card.profile_card_data_b.to_s, 'C'=> profile_card.profile_card_data_c.to_s, 'D'=> profile_card.profile_card_data_d.to_s, 'E'=> profile_card.profile_card_data_e.to_s, 'F'=> profile_card.profile_card_data_f.to_s } %>
            <% card_type.each do |key, value| %>
              <%= image_tag value if profile_card.card_type == key %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate(@profile_cards) %>
    <% end %>
  </div>
</div>
