<div class='max-w-md py-10'>
  <h1 class="text-xl text-yellow-900 font-zenmaru my-2 text-center font-bold"><%= t('.title') %></h1>
  <div class='mt-3'>
    <%= render 'profile_cards/form_new', {profile_card: @profile_card} %>
  </div>
</div>
