<div class='my-20'>
  <div>
    <%= image_tag "top_page.png" %>
  </div>
  <div class='text-center pt-20'>
    <%= link_to 'にくきゅう診断をする', new_profile_card_path, class:'btn btn-primary' %>
  </div>
</div>